.main-contact{
    width: 100%;
    height: max-content;
}

.container1{
    width: 100%;
    height: 70vh;
    display: flex;
    
}

.contact-us{
    width: 50%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    font-size: 5em;
    padding: 5%;
   
    
}

.div1-contact{
    
    width: 70%;
    text-align: center;

}

.container2{
    width: 100%;
    height: 40vh;
    display: flex;
    
}

.para-contact1{
    font-size: 25px;
}


.head2-contact{
    font-size: 40px;
}

.para2-contact{
    font-size: 25px;
}

.contact2{
    width: 40%;
    height: 100%;
}

.add-contact{
    width: 60%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
}

.container3{
    width: 100%;
    height: 20vh;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.container4{
    width: 100%;
    height: 70vh;
    display: flex;
}

.div4-contact{
    width: 100%;
    height: 70vh;
    background-color: rgb(16, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div5-contact{
    width: 40%;
    height: 50vh;
    background-color: darkgrey;
    padding: 20px;
    

}

.div6-contact{
    color: aliceblue;
    margin-left: 5%;
}

.container5{
    width: 100%;
    height: 40vh;
    display: flex;
   
}

.map-div{
    width: 50%;
    height: 100%;
}

.visit-div{
    width: 50%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.container6{
    width: 100%;
    height: 20vh;
    display: flex;
    background-color: black;
    
}

.div11-contact{
    color: aliceblue;
    width: 33%;
    height: 90%;
    border-left: 0.5px solid rgba(255, 255, 255, 0.574);
    text-align: center;
    padding: 15px;
}

@media screen and (max-width:600px) and (min-width:300px){
    .container1{
        width: 90vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        
    }
    
    .contact-us{
        width: 90vw;
        height: 50%;
        background-color: black;
        color: aliceblue;
        font-size: 35px;
        padding: 10%;
       
        
    }
    
    .div1-contact{
        
        width: 70vw;
        text-align: center;
    
    }
    
    .container2{
        width: 90vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        
    }
    
    .para-contact1{
        font-size: 18px;
    }
    
    
    .head2-contact{
        font-size: 40px;
    }
    
    .para2-contact{
        font-size: 25px;
    }
    
    .contact2{
        width: 40vw;
        height: 100vh;
    }
    
    .add-contact{
        width: 90vw;
        height: 100%;
        background-color: black;
        color: aliceblue;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        text-align: center;
        flex-direction: column;
        padding: 20px;
    }
    
    .container3{
        width: 90vw;
        height: 20vh;
        text-align: center;
        background-color: black;
        color: aliceblue;
       
    }
    
    .div3-contact{
        font-size: 20px;
        padding: 10px;
    }

    .container4{
        width: 90vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .div4-contact{
        width: 90vw;
        height: 100vh;
        background-color: rgb(16, 15, 15);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .div5-contact{
        width: 90%;
        height: 70vh;
        background-color: darkgrey;
        padding: 20px;
        
    
    }
    
    .div6-contact{
        color: aliceblue;
        /* margin-left: 5%; */
        padding: 15px;
    }
    
    .container5{
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
       
    }
    
    .map-div{
        width: 100%;
        height: 100%;
    }
    
    .visit-div{
        width: 90%;
        height: 100%;
        background-color: black;
        color: aliceblue;
        text-align: center;
        padding: 15px;
    }
    
    .container6{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: black;
        
    }
    
    .div11-contact{
        color: aliceblue;
        width: 100%;
        height: 30%;
        border-left: 0.5px solid rgba(255, 255, 255, 0.574);
        text-align: center;
        padding: 15px;
    }
    
}