/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: rgb(10, 2, 2);
    padding: 20px;
    
  }
  .navbar ul
  {
    display: flex;
  }
  .navbar li
  {
    list-style-type: none;
    margin-left: 25px;
    
  }

  .navbar-logo {
    font-size: 24px;
    color:black;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    font-size: 18px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.navbar-logo-link
  {
    text-decoration: none;
    color: rgb(17, 2, 2);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 800;
  }
  /* src/components/Navbar.css */

/* Desktop view */
@media screen and (min-width: 768px) {
    .navbar {
      padding: 20px 50px;
    }
    .navbar-links {
      gap: 40px;
    }
    .navbar-links li {
      font-size: 20px;
    }
  }
  
  .hamburger {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
    flex-direction: column;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(16, 15, 15);
    margin: 3px 0;
    transition: 0.4s;
  }
  
  /* Show hamburger on smaller screens */
  @media screen and (max-width: 767px) {
    .hamburger {
      display: flex;
    }
  
    .navbar-links {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: -200%;
      width: 100%;
      background-color: #333;
      transition: all 0.3s ease;
    }
  
    .navbar-links.active {
      left: 0;
    }
  
    .navbar-links ul {
      list-style-type: none;
    }
  
    .navbar-links li {
      padding: 10px;
    }
  }