* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.service-container {
    overflow: hidden;
}
.Service-1 {
    width: 100%;
    background-color: #000;
    color: #FFF;
    height: 500px;
    text-align: center;
}
.Service-1 h1 {
    padding-top: 150px;
    font-size: 60px;
}

.discription-1 {
    font-size: 4vh;
    margin-top: 2%;
    padding: 40px;
    line-height: 45px;

}
.Service-2{
    padding: 10px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(550px,1fr);
    background-color: #000;
    color: #FFF;
}
.Item-1{
    width: 650px;
}
.pic1{
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    padding: 50px;
    width: 100%;
}
.pic2{
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    padding: 50px;
    width: 100%;

}
.pic3{
    border-top-left-radius: 150px;
    border-bottom-Right-radius: 150px;
    padding: 50px;
    width: 100%;
}
.text-grp{
    padding-top: 80px;
}
.text-1{
    width: max-content;
    font-size: 7vh;
    text-align: center;
}
.text-2{
    padding-top: 50px;
    font-size: 3vh;
    width: 100%;
    padding-left: 130px;
}
.learn-btn-1{
    width: 350px;
    height: 80px;
    background-color: #FFFF;
    color:rgb(32, 31, 31) ;
    font-size: 3.0vh;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 250px;
    margin-top: 100px;
}
.learn-btn-1:hover{
    background-color: #92def1;

}
.testinomial{

    display: flex;
    gap: 50px;
    height: 550px;
    background-color: #000;
    color: #FFF;
}
.testinom-head{
    padding: 25px;
    display: grid;
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: #fff;
    border-radius: 90px;
    color:rgb(108, 108, 221) ;
    font-size: 4.6vh;
    padding-top: 90px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.Review{
    padding-top: 50px;
}
.testonimal-1{
    font-size: 36px;
}
.client{
    display: flex;
    gap: 30px;
    
}
.client h3{
    font-size: 26px;
    padding-top: 30px;
}
.Item-2{
    background-color: #000;
    color: #FFF;
    height: 550px;
    text-align: center;
}
.Item-2 h3 {
    font-size: 40px; 
    width: 80%; 
    margin-left: 10%; 
    padding-top: 50px;
}
.Contact-btn-1 {
    width: 200px; 
    height: 60px; 
    font-size: 24px; 
    text-align: center;
    border-radius: 30px; 
    cursor: pointer;
    margin-top: 50px;
}
.Contact-btn-1:hover{
    background-color: #92def1;

}
.Item-text{
    font-size: 35px;
    width: 950px;
    margin-left:500px ;
    padding-top: 30px;
}
.Scroll-top{
    display: flex;
}
.top-icon-2 {
    background-color: #FFFF;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .Service-1 {
        width: 100%;
        background-color: #000;
        color: #FFF;
        height: 300px;
        text-align: center;
    }
    .Service-1 h1 {
        padding-top: 150px;
        font-size: 150%;
    }

    .discription-1 {
        font-size: 100%;
        margin-top: 2%;
    
    }

    .Service-2{
        padding: 10px;
        display: grid;
        grid-template-columns:repeat(1,1fr);
        background-color: #000;
        color: #FFF;
    }

    .pic1, .pic2, .pic3{
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        padding: 20px;
        width: 50%;
    }
    .text-1{
        font-size: 3vh;
        margin-left: 3%;
       
    }
    .text-2{
        padding-top: 50px;
        font-size: 3vh;
        width: fit-content;
        margin-right: 50%;
        padding-left: 0;
        margin-left: 2%;
            }

            .learn-btn-1{
                width: 100px;
                height: 40px;
                background-color: #FFFF;
                color:rgb(32, 31, 31) ;
                font-size: 2.0vh;
                text-align: center;
                border-radius: 40px;
                cursor: pointer;
                padding: 0;
            }
    
            .testinomial{

                display: flex;
                flex-direction: row;
               
            }
            

}

